html, body {
    margin: 0; padding: 0;
}

/*OVERLAY*/ 
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #804C4C;
    z-index: 10000;
}

#overlay > #logoImg {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    max-width: 40%;
    transition: all .2s ease-in-out;
}

#playButton {
    display: inline-block;
    padding: .4em .8em;
    font-size: 1.8em;
    letter-spacing: 5px;    
    border-radius: 5px;
    border: 8px solid #FFEBB9;
    color: #FFEBB9;
    font-family: 'Ranchers', cursive;
    transition: all .15s ease-in-out;
    cursor: pointer;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: -150px;
    right: 0;
    z-index: 5;
    width: 270px;
    font-weight: bold;
    background: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

#playButton:hover {
    transform: scale(1.05);
}

#menuButton {
    margin: .7em;
    color: #FFEBB9;
    cursor: pointer;
    text-shadow: 0 0 5px #363636;
}

#menu {
    margin: auto;
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 10005;
    width: 250px;
    box-shadow: 0 2px 7px 2px rgba(0,0,0,.6);
}

.mnBtn3 {
    text-align: center;
    width: 100%;
    height: 33.333vh;
    line-height: 33.333vh;
    font-family: 'Ranchers', cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    background: #FFEBB9;
    text-transform: lowercase;
}

#easy {
    color: #437356;
    transition: all .25s ease-in-out;
}
#easy:hover{
    background: #437356;
    color: #FFEBB9;
}
#medium {
    color: #1E4155;
    background: #FFE1A5;
    transition: all .25s ease-in-out;
}
#medium:hover{
    background: #1E4155;
    color: #FFE1A5;
}
#hard {
    color: #B94A50;
    transition: all .25s ease-in-out;
}
#hard:hover{
    background: #B94A50;
    color: #FFEBB9;
}

::selection {background: transparent;}

p {margin: 0; font: 12px/150% Arial; text-align: center; color: #888;}

p a {color: #888;}

#controls {text-align: center;}

#controls button
{
	cursor: pointer;
	outline: none;	
	padding: 10px 20px;
	margin: 25px 2px;
	border: 0;
	border-radius: 4px;
	background: #000000;
	font: bold 14px Arial;
	text-align: center;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}

#controls button:hover{background: #003333;}

#puzzle
{
	position: relative;
	width: 325px;
	height: 325px;
	margin: 0 auto;
	margin-top: 80px;
	border: 8px solid #000000;
	border-radius: 4px;
}

#puzzle span
{
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 4px;
}

#puzzle span.number
{
	cursor: pointer;
	font: bold 36px/80px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
	color: #fff;
}

#puzzle span.empty {background: transparent;}

#puzzle span.number.light {background: #FF4300;}

#puzzle span.number.dark {background: #AF2E00;}

#puzzle.animate span
{
	-webkit-transition: 0.15s left, 0.15s top;
 	transition: 0.15s left, 0.15s top;
}
