/*OVERLAY*/
html
body {
    padding: 0; margin: 0;
    font-family: Impact, Charcoal, sans-serif;
    font-family: 'Dosis', sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DDA935;
    z-index: 10000;
}

#overlay > #logoImg {
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.25 ease-in-out;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    max-width: 40%;
}

#downBtn {
    cursor: pointer;
}

#down {
    margin: auto;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    width: 100%;
    text-align: center;
}

/*BODY*/
#controls {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls a {
    color: #fff;
    border-radius: 5px;
    border: 12px solid #fff;
    font-size: 3.5em;
    padding: 1em 1.5em;
    margin: .1em;
    letter-spacing: 1px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    background: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

/*GAME*/
#time {
    color: #fff;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    position: relative;
    width: 407px;
    height: 80px;
    line-height: 80px;
    font-weight: 700;
}
#changeTime {
    color: #fff;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    position: relative;
    width: 407px;
    height: 80px;
    line-height: 80px;
    display: none;
}

#puzzle {
    position: relative;
    width: 375px;
    height: 375px;
    margin: 0 auto;
    border: 16px solid #0E0D0D;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 7px 2px #0E0D0D; 
}

#butFirst {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(255,255,255,.2);
    z-index: 4000;
}
#butFirst img {
    position: absolute;
    top: 100px; left: 0; right: 0;
    margin: auto;
    max-width: 350px;
}

nav {
    width: 407px;
    margin: 0 auto;

}
nav button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    border: 5px solid #0E0D0D;
    background-color: #0E0D0D;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.05em;
    letter-spacing: 3px;
    font-weight: bold;
    transition: all .25s ease-in-out;
    box-shadow: 0 0 7px 2px #0E0D0D; 
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}
nav button:hover {
    font-size: 1.1em;
}

#start {
    z-index: 5000;
    position: relative;
    box-shadow: 0 0 0 0 #000;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#infoImg {
    position: absolute;
    margin: auto;
    top: 130px; left: 0; right: 0;
    max-width: 300px;
}
    
#puzzle span {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 5px;

}

#puzzle span.number {
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 90px;
    font-weight: 700;
}

#puzzle span.empty {
    background: transparent;
}


#easyStyle #puzzle span.number.light {background: #437356;}
#easyStyle #puzzle span.number.dark {background: #00180A;}

#mediumStyle #puzzle span.number.light {background: #1E4155;}
#mediumStyle #puzzle span.number.dark {background: #00131E;}

#hardStyle #puzzle span.number.light {background: #B94A50;}
#hardStyle #puzzle span.number.dark {background: #3B0003;}

#puzzle.animate span {
    -webkit-transition: 0.1s left, 0.1s top;
    transition: 0.1s left, 0.1s top;
}

/*WIN OR LOSE */
#gameOverlay {
    width: 420px;
    height: 168px;
    margin: auto;
    top: 0; bottom: 0; left: 2px; right: 0;
    position: absolute;
    background: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    border-radius: 5px;
}

#wl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(255,255,255,.2);
    z-index: 10000;
    box-shadow: 0 0 7px 2px #0E0D0D; 
    display: none;
}

#gameOverlay #winOrLose {
    height: 80px;
    max-width: 100%;
    line-height: 85px;  
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #fff;
    color: #0E0D0D;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 1.2px;
    font-weight: bold;
}

#gameOverlay a {
    text-decoration: none;
    height: 70px;
    width: 201px;
    text-align: center;
    line-height: 70px;
    margin-top: 5px;
    border: 3px solid #fff;
    color: #0E0D0D;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 700;
    transition: all .25s ease-in-out;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.3em;
}
#gameOverlay a:hover {
    color: #fff;
    background: #0E0D0D;
    border: 3px solid #0E0D0D;
}
.repeat {
    margin-right: 1px;
}
.backToHome {
    margin-left: 1px;
}
      